@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 7.1%; /* #121212 */
    --foreground: 0 0% 98%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 7.1%;
    --popover-foreground: 0 0% 98%;
    --primary: 287 84% 54%; /* #BE29EC */
    --primary-foreground: 287 80% 98%;
    --secondary: 211 84% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 211 84% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 211 84% 54%; /* #2980EC */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 287 84% 54%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  /* .dark is not needed as dark is the default theme */
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}
